.html-mobile-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(background.jpg) no-repeat center center fixed;
    background-size: 100vw 100vh;
}

@media (min-width: 600px) {
    html {
        background: url(background.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .html-mobile-background {
        display: none;
    }
}

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #111;
	margin-top: 10%
}

.imgcircle{
	border-radius: 50%;
}

a{
	text-decoration: none !important;
	color: #009bff !important;
}

a:hover{
	text-decoration: none !important;
	color: inherit !important;
}

a:visited{
	text-decoration: none !important;
	color: inherit;
}


.basic img{
	width:22%;
	height:22%;
	margin-right: 4%
}

.basic h2{
	font-size: 300%;
	margin-right: 4%
}


.basic{
	text-align: center;
	padding-top: 10%;
	padding-bottom: 8%;
    color: #565656;
}

.info {
	text-align: center;
	padding-bottom: 6%;
	font-size: 110%;
	font-weight: bold;
    color: 	#565656;
}

.links {
	text-align: center;
}

.links a img{
	width: 4%;
	height: 4%;
	margin-right: 2%
}
